$blue: #333ba0;
$pink: #f44380;
$white: #eee;
$black: #333;
$body-font: 'Roboto', sans-serif;
$accent-font: 'Sofia', cursive;

.body {
  margin: 0;
}

.header {
  height: 30rem;
  background: $blue; /* fallback for old browsers */
  background: -webkit-linear-gradient( to right, $blue, $pink ), url('https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/18722850_1567290799957373_5470051368725118976_n.jpg');
  background-image: linear-gradient( to right, rgba( $blue, 0.75), rgba( $pink, 0.75 ) ), url('https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/18722850_1567290799957373_5470051368725118976_n.jpg');
  padding: 1rem;
  position: relative;
}

.header__title {
  color: $white;
  display: inline-block;
  font-family: $accent-font;
  font-size: 8rem;
  margin: 1rem 0 0;
  //transform: rotate( -15deg );
  width: fit-content;
}

.header__headline {
  color: $white;
  display: inline;
  font-family: $body-font;
  font-size: 1.5rem;
  float: right;
  width: 25%;
  margin-right: 15%;
  margin-top: 5rem;
}

section {
  background-color: $white;
  height: 8000px;
}